.title-part{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    border: dotted 5px red ;
    background-color: white;
    max-width: 65%;
    position: relative;
    left: 11vw;
    padding-top: 50px;
    padding-left:70px;
    padding-right: 70px;
    padding-bottom: 50px;
    margin-bottom: 5%;
}

.case{
    border: 2px red solid;
    width: 30%;
}

.timg{
    width: 100%;
}